<div class="waxCodeBlock">
    <div class="waxCodeBlockContainer">
        <pre class="waxLineCounter"><code>@Lines</code></pre>
        <pre style="margin: 2px 0 0 10px"><code lang="@Language">@Code</code></pre>
    </div>
    
    <div class="waxFooter">
        <p class="waxTextFooter" style="text-align: left">Lines: @Code.Split("\n").Length</p>
        <p class="waxTextFooter" style="text-align: right">Language: @Language</p>
    </div>
</div>